@font-face {
    font-family: 'MontserratLight';
    src: url('/fonts/MontserratLight.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('/fonts/MontserratRegular.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/fonts/MontserratBold.ttf');
}

body {
    font-family: 'MontserratRegular';
    color: #000;
    background-image: -webkit-linear-gradient(#ffffff, #dedede, #bababa) !important;
    font-size: 14px;
}

#category-table > thead > tr > th:not(:first-child){
    width: 33% !important;
}

div.m-datatable.m-datatable--default.table.m-datatable--loaded > div > ul > li > a {
    color: #000;
    border: 2px solid #000;
}

div > div.m-datatable.m-datatable--default.table.m-datatable--loaded > div {
    text-align:center;
}

.m-datatable__pager-link--active {
    background-image: -webkit-linear-gradient(#000, #000, #000);
    border: 2px solid #36b9cc !important;
    color:#fff !important;
}

div > div.m-datatable.m-datatable--default.m-datatable--brand.m-datatable--loaded > div {
    text-align:center;
}

table > thead > tr > th:not(:first-child) {
    padding: .75rem;
    background: transparent !important;
    color: #000;
    font-family: 'MontserratBold';
    
}

#franchise-transactions-table > thead > tr > th:nth-child(3) {
    width: 250px !important;
}

#franchise-transactions-table > thead > tr > th:nth-child(4) {
    width: 250px !important;
}

#user-table > thead > tr > th:not(:first-child) {
    width: 10%;
}

#product-table > thead > tr > th:not(:first-child) {
    width: 20%;
}

table > thead > tr > th:first-child {
    font-family: 'MontserratBold';
    background: transparent !important;
}

table > tbody > tr > td{
    padding: .75rem;
}

.m-datatable.m-datatable--default > .m-datatable__pager {
    margin-top: 20px; 
}

.m-datatable.m-datatable--default > .m-datatable__pager.m-datatable__pager--top {
    margin-bottom: 20px; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav {
    margin: 10px 0 0 0;
    padding: 0;
    display: inline-block; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li {
    padding: 0;
    margin-right: 5px;
    display: inline-block; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li:last-child {
    margin-right: 0; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link {
    cursor: pointer;
    display: inline-block;
    height: 2.25rem;
    min-width: 2.25rem;
    vertical-align: middle;
    padding: 0.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link > i {
    font-size: 1rem;
    text-align: center;
    display: inline-block; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--more-prev, .m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--more-next {
    font-weight: 600; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-pager-input {
    height: 2.25rem;
    width: 3.5rem;
    text-align: center;
    -webkit-border-radius: 15px!important;
    -moz-border-radius: 15px!important;
    -ms-border-radius: 15px!important;
    -o-border-radius: 15px!important;
    border-radius: 15px!important; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-info {
    float: right;
    margin-top: 10px; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size {
    margin-right: 10px; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle {
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
    border-radius: 20px!important;
    height: 2.25rem;
    padding: 0.45rem 1rem; 
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .dropdown-menu.inner > li.selected > a span.check-mark {
    margin-top: -0.6rem; 
}

.m-datatable.m-datatable--default.m-datatable--subtable .m-datatable__subtable > .m-datatable > .m-datatable__pager {
    margin: 0;
    padding: 0 20px 10px 20px; 
}
    
.m-datatable.m-datatable--default > .m-datatable__table{
    border-collapse: collapse;
    overflow: hidden;
}

.m-datatable > .m-datatable__table{
    background-color: #fff;
}

table > thead > tr > th > span > i {
    padding-left: 5px;
}

table {
    padding-bottom: 10px !important;
    width: 100%;
}

#norecord {
    position: absolute;
    margin-left:44%;
    margin-top:5%;
}

table > thead > tr > th{
    text-align: center !important;
}

table > tbody > tr > td{
    text-align: center !important;
}

#product-table > tbody > tr > td:nth-child(10) > a > i{
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

#admin-table > tbody > tr > td:nth-child(7) > a > i {
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

#user-table > tbody > tr > td:nth-child(14) > a > i {
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

#franchise-table > tbody > tr > td:nth-child(7) > a > i {
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

#settings-table > tbody > tr > td:nth-child(6) > a > i {
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

#settings-table > thead > tr > th:nth-child(6) > button {
    color: #ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#000, #000, #000);
    border-radius: 20px !important;
    border: 2px solid #36b9cc !important;
}

#gym-table > tbody > tr > td:nth-child(6) > a > i {
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

#gym-dispenser-table > tbody > tr > td:nth-child(4) > a > i {
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

#shaker-table > tbody > tr > td:nth-child(6) > a > i {
    color: #858696 !important;
    margin-right: 5px;
    font-size: 20px;
}

.text-dark {
    color: #000 !important;
}

.side-bar-logo {
    margin-top: 150px;
}

.bg-gradient-info {
    background: transparent;
}

.nav-link {
    background-image: -webkit-linear-gradient(#fff, #fff, #fff);
    font-family: 'MontserratRegular';
    border-radius: 0em;
}

.sidebar .nav-item .nav-link {
    border: 2px solid #36b9cc !important;
}

#nav_pills .nav-link.active, .nav-pills .show>.nav-link {
    background-image: -webkit-linear-gradient(#000, #000, #000);
}

#nav_pills > a.nav-item.nav-link {
    margin:unset;
    border-radius: 3px;
    margin-right: 3px;
    padding:15px;
    color:#000;
    font-weight: 100 !important;
    border: 2px solid #36b9cc !important;
    width: 100px !important;
    border-radius: 0.35rem;
}

#nav_pills > a:hover{
    color:#000;
}

#nav_pills > a.nav-item.nav-link:hover {
    color:#000;
}

#nav_pills > a.nav-item.nav-link.active {
    color:#fff !important;
}

#nav_pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#000 !important;
}

.table-container {
    box-shadow: 5px 5px 10px #888888;
    border-radius: 2em;
    background-color: #fff;
}

#content > div > div.row > div > div > div {
    width: auto;
}

li>a>span {
    background: transparent;
}

li>a:hover>span {
    background: transparent;
}

h1, h2, h3, h4, h5 {
    font-family: 'MontserratBold';
    color: #000 !important;
}

button {
    font-family: 'MontserratRegular';
}

#logoutModal > div > div > div:nth-child(2) > button {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#000, #000, #000);
    border-radius: 20px !important;
    border: 2px solid #36b9cc !important;
}

.sidebar-dark .nav-item .nav-link > span {
    font-family: 'MontserratBold';
}

.sidebar-dark .nav-item .nav-link {
    text-align: center;
    margin-top: 0;
    color: #000;
}

.sidebar-dark .nav-item.active .nav-link {
    background-image: -webkit-linear-gradient(#000, #000, #000);
    color: #fff !important;
}

#wrapper #content-wrapper {
    background-color: transparent !important;
}

.form-control:focus {
    box-shadow: unset !important;
}

.table thead th {
    border-bottom: 2px solid #fff;
}

.table td, .table th {
    border-top: 1px solid #fff;
}

table {
    box-shadow: 0px 0px 0px #fff;
}

td:last-child, td:first-child { 
    border-bottom: 1px solid #36b9cc !important; 
}

td {
    border-bottom: 1px solid #36b9cc !important;
    color: #000;
}

table.dataTable.no-footer {
    border: unset !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: unset !important;
    text-align: center !important;
}

#user-transactions-table_paginate, #user-table_paginate, #product-table_paginate, #franchise-transactions-table_paginate, #gym-transactions-table_paginate, #franchise-table_paginate, #gym-table_paginate, #settings-table_paginate {
    margin-top: 2rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #000 !important;
    margin: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    display: inline-grid;
    align-items: center;
    border: 2px solid #36b9cc !important;
    background: #000 !important;
    color: #fff !important;
}

.navbar-nav {
    align-items: center;
}

.pagination a {
    box-shadow: 5px 5px 10px #888888;
    border: unset;
    padding: 5px;
}

.button-custom {
    color: #ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#000, #000, #000);
    border-radius: 2em !important;
    border: 2px solid #36b9cc !important;
    padding: .5rem 3rem;
}

.delete-image > i {
    font-size: 20px;
    color: #858696 !important;
}

.view-image > i {
    font-size: 20px;
    color: #858696 !important;
}

.swal2-title {
    font-size: 1.5em !important;
}

.swal2-styled.swal2-confirm {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#000, #000, #000) !important;
    border-radius: 2em !important;
    border: 2px solid #36b9cc !important;
}

.swal2-styled.swal2-cancel {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#bababa, #bababa, #bababa) !important;
    border-radius: 2em !important;
}

.dt-buttons {
    display: none;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #000 !important;
}

table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting_asc_disabled, table.dataTable thead>tr>th.sorting_desc_disabled, table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting_asc_disabled, table.dataTable thead>tr>td.sorting_desc_disabled {
    vertical-align: middle;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    font-size: 1.4em !important;
}

@media (min-width: 992px) {
    #accordionSidebar > .mt-5 {
        width: 100% !important;
    }

    .sidebar .nav-item .nav-link {
        width: auto !important;
    }
}

@media (min-width: 1200px) {
    #accordionSidebar > .mt-5 {
        width: 271px !important;
    }
}