#uploadVideo{
    padding: 40px;
    border: solid 1px #000;
    border-radius: 15px;
}

#uploadVideo > form > div.row > div > select{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#uploadVideo > form > div.row > div > input{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#addVideoFile{
    border: 1px solid #6287A2;
}

#addAudioFile{
    border: 1px solid #6287A2;
}

#uploadVideo > form > div.offset-4.col-md-4 button{
    color: #ffffffdb;
}

#uploadVideo > form > div.offset-4.col-md-4 > button:focus:not(:focus-visible) {
    border-radius: 50px !important;
    background-color: #6287A2;
    box-shadow: 5px 8px 8px #888888;
}

#uploadVideo > form > div.offset-4.col-md-4 > button:focus:not(:focus-visible){
    color: #ffffffdb;
}

#uploadVideo > form > div.row > div:nth-child(2) > video {
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#deleteConsultantModal > div > div > div > form > div > div > div > button {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

#deleteConsultantModal > div > div {
    border-radius:15px;
}

#video-management-table > tbody > tr > td > a > i {
    color:#858696;
}

#updateConsultantModal > div > div > div > form > div > input{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#updateConsultantModal > div > div > div > form > div > select{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#updateConsultantModal > div > div > div > form > div > div > div > button {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

#addVideoFile{
    border-radius: 50px !important;
    background-color: #6287A2;
    box-shadow: 5px 8px 8px #888888;
}

#addAudioFile{
    border-radius: 50px !important;
    background-color: #6287A2;
    box-shadow: 5px 8px 8px #888888;
}

#updateConsultantModal > div > div {
    border-radius:15px;
}

#video-management-table > thead > tr > th{
    text-align:left !important;
}

#video-management-table > tbody > tr > td{
    text-align:left !important;
}

.text-danger{
    font-size:10px;
}

#nav_pills > a.nav-item.nav-link {
    margin:unset;
    border-radius: 3px;
    margin-right: 3px;
    padding:15px;
    color:#000;
    font-weight: 100 !important;
    border: 2px solid #36b9cc !important;
    width:100px !important;
    border-radius: 0.35rem;
}

#nav_pills > a:hover{
    color:#000;
}

#nav_pills > a.nav-item.nav-link:hover {
    color:#000;
}

#nav_pills > a.nav-item.nav-link.active {
    color:#fff !important;
}

#nav_pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#fff !important;
}

/* #nav_pills > a:first-child{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

#nav_pills > a:last-child{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
} */

#filter_category{
    width:200px !important;
}

#file-log-table > div{
    width:unset !important;
}

#search_file, #search_file_log, #filter_category {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
}

#search_file_log{
    width:300px !important;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#content > div > div.row > div > div > div {
    width: unset !important;
}

#addVideoFile, #addAudioFile {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

.nav-item > a:hover {
    background-image: -webkit-linear-gradient(#FFF, #FFF, #FFF);
    color: #000 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #000 !important;
}