#addConsultantModal > div > div > div > form > div > input{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#addConsultantModal > div > div > div > form > div > div > div > button {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

#addConsultantModal > div > div > div > form > div > textarea{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
    height: 100px;
}

#type, #prefix{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#addConsultantModal > div > div {
    border-radius:15px;
}

#updateConsultantModal > div > div > div > form > div > input{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#updateConsultantModal > div > div > div > form > div > div > div > button {
    border-radius: 50px !important;
    background-color: #6287A2;
    box-shadow: 5px 8px 8px #888888;
}

#updateConsultantModal > div > div {
    border-radius:15px;
}

#deleteConsultantModal > div > div > div > form > div > div > div > button {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

#deleteConsultantModal > div > div {
    border-radius:15px;
}

#consultant-management-table > thead > tr > th{
    text-align:left !important;
}

#consultant-management-table > tbody > tr > td{
    text-align:left !important;
}

#consultant-management-table > tbody > tr > td > a > i {
    color:#858696;
}

#addConsultantBtn{
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

.text-danger{
    font-size:10px;
}

#nav_pills > a.nav-item.nav-link {
    margin:unset;
    border-radius: 3px;
    margin-right: 3px;
    padding:15px;
    color:#000;
    font-weight: 100 !important;
    border: 2px solid #36b9cc !important;
    width:100px !important
}

#nav_pills > a:hover{
    color:#000;
}

#nav_pills > a.nav-item.nav-link:hover {
    color:#000;
}

#nav_pills > a.nav-item.nav-link.active {
    color:#000 !important;
}

#nav_pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#fff !important;
}

/* #nav_pills > a:first-child{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

#nav_pills > a:last-child{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
} */

#consultant-log-table > div{
    width:unset !important;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#filter_type {
    width: 200px !important;
}

#content > div > div.row > div > div > div {
    width: unset !important;
}

#search_consultant, #search_consultant_log, #filter_type, #search_consultant_log {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
}

#search_consultant_log {
    width: 300px !important;
}

.nav-item > a:hover {
    background-image: -webkit-linear-gradient(#FFF, #FFF, #FFF);
    color: #000 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #000 !important;
}