#addCategoryModal > div > div > div > form > div > input{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#addCategoryModal > div > div > div > form > div > select{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#addCategoryModal > div > div > div > form > div > div > div > button {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

#deleteUserModal > div > div > div > div > div > div > button {
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#0dc5c5, #15b8c9, #23a3d0);
    border-radius: 20px !important;
    border: unset !important;
}

#addCategoryModal > div > div {
    border-radius:15px;
}

#user-management-table > thead > tr > th{
    text-align:left !important;
}

#user-management-table > tbody > tr > td{
    text-align:left !important;
}

#updateUserModal > div > div > div > form > div > input{
    border-radius: 10px !important;
    background-color: #EDEDED;
    box-shadow: 3px 3px 3px #888888;
}

#updateUserModal > div > div > div > form > div > div > div > button {
    border-radius: 50px !important;
    background-color: #6287A2;
    box-shadow: 5px 8px 8px #888888;
}

#updateUserModal > div > div {
    border-radius:15px;
}

#deleteUserModal > div > div > div > form > div > div > div > button {
    border-radius: 50px !important;
    background-color: #6287A2;
    box-shadow: 5px 8px 8px #888888;
}

#deleteUserModal > div > div {
    border-radius:15px;
}

#user-management-table > tbody > tr > td > a > i {
    color:#858696;
}

#addUserBtn{
    color:#ffffff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
    background-image: -webkit-linear-gradient(#000, #000, #000);
    border-radius: 2em !important;
    border: 2px solid #C9EA3B !important;
}

.text-danger{
    font-size:10px;
}

#nav_pills > a.nav-item.nav-link {
    margin: unset;
    border-radius: 3px;
    margin-right: 3px;
    padding:15px;
    color:#000;
    font-weight: 100 !important;
    border: 2px solid #36b9cc !important;
    width: 100px !important;
    border-radius: 0.35rem;
}

#nav_pills > a:hover{
    color:#000;
}

#nav_pills > a.nav-item.nav-link:hover {
    color:#000;
}

#nav_pills > a.nav-item.nav-link.active {
    color:#fff !important;
}

#nav_pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#fff !important;
}

/* #nav_pills > a:first-child{
    border-top-left-radius: 2em !important;
    border-bottom-left-radius: 2em !important;
}

#nav_pills > a:last-child{
    border-top-right-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
} */

#search_user , #filter_by_type{
    border-radius: 50px;
    border: 2px solid #676767;
    /* box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%); */
}

#user_sorting, #search_consultant_log, #search_file_log, #search_file_audio_log, #search_user_log{
    border: 2px solid #C9EA3B;
    /* box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%); */
}

#filter_by_type{
    width:100px;
}

#user_management > div.col-md-12 > div:nth-child(2) > div{
    width: unset !important;
}

#user-log-table > div{
    width:unset !important;
}

#search_user_log{
    width:300px !important;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.nav-item > a:hover {
    background-image: -webkit-linear-gradient(#FFF, #FFF, #FFF);
    color: #000 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #000 !important;
}

#content > div > div.row > div > div > div {
    width: unset;
}

.table-container {
    box-shadow: 5px 5px 10px #888888;
    border-radius: 2em;
    background-color: #fff;
}