#search_user, #filter_by_type{
    border-radius: 50px;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
}

#search_user_log, #search_consultant_log, #search_file_log, #search_file_audio_log{
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 5%), 0 6px 30px 0 rgb(0 0 0 / 20%);
}

#nav_pills > a.nav-item.nav-link {
    margin:unset;
    border-radius: 3px;
    margin-right: 3px;
    padding:15px;
    color:#000;
    font-weight: 100 !important;
    border: 2px solid #36b9cc !important;
    border-radius: 0.35rem;
}

#nav_pills > a:hover{
    color:#000;
}

#nav_pills > a.nav-item.nav-link:hover {
    color:#000;
}

#nav_pills > a.nav-item.nav-link.active {
    color:#000 !important;
}

#nav_pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#fff !important;
}

/* #nav_pills > a:first-child{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

#nav_pills > a:last-child{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
} */

#nav_pills{
    position: relative;
    margin-top: -123px;
    margin-bottom: 70px;
    padding-right:15px;
}

canvas {
    width:250px !important;
    height: 250px !important;
    margin:auto !important;
    padding: 20px !important;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.nav-item > a:hover {
    background-image: -webkit-linear-gradient(#FFF, #FFF, #FFF);
    color: #000 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #000 !important;
}

#total-video {
    background-color: #999999 !important;
}

#total-user {
    background-color: #999999 !important;
}

#total-audio {
    background-color: #999999 !important;
}